{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Product Record') }}</h1>
    <div class="row">
        <div class="col-md-4">
            {% from "_datahelpers.html" import render_form_field %}
            <form method=post>
                <dl class="list-group">
                    {{ render_form_field(form.title) }}
                    {{ render_form_field(form.description) }}
                    {{ render_form_field(form.tiny_description) }}
                    {{ render_form_field(form.short_description) }}
                    {{ render_form_field(form.medium_description) }}
                    {{ render_form_field(form.long_description) }}
                    {{ render_form_field(form.price) }}
                    {{ render_form_field(form.shelf_time) }}
                    {{ render_form_field(form.campus_id) }}
                    {{ render_form_field(form.archived) }}
                    {{ render_form_field(form.taxable) }}
                    {{ render_form_field(form.category_names) }}
                    {{ render_form_field(form.vendor) }}
                    {{ render_form_field(form.source) }}
                    {{ render_form_field(form.notes) }}
                    {{ render_form_field(form.total_cal) }}
                    {{ render_form_field(form.num_servings) }}
                    {{ render_form_field(form.ingredients) }}
                    {{ render_form_field(form.calories) }}
                    {{ render_form_field(form.proteins) }}
                    {{ render_form_field(form.sugar) }}
                    {{ render_form_field(form.carbohydrates) }}
                    {{ render_form_field(form.fat) }}
                    {{ render_form_field(form.consumer_category) }}
                    {{ render_form_field(form.ws_case_size) }}
                    {{ render_form_field(form.kiosk_ship_qty) }}
                    {{ render_form_field(form.pick_station) }}
                    {{ render_form_field(form.fc_title) }}
                    {{ render_form_field(form.width_space) }}
                    {{ render_form_field(form.height_space) }}
                    {{ render_form_field(form.depth_space) }}
                    {{ render_form_field(form.slotted_width) }}
                    {{ render_form_field(form.tag_volume) }}
                    {{ render_form_field(form.delivery_option) }}
                    {{ render_form_field(form.tag_applied_by) }}

                </dl>
                <p><input type=submit value=Submit>
            </form>
        </div>
    </div>
{% endblock %}



